.Wrapper{
    background-color: #0C0C0C;
    height: 200px;
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    padding-top: 80px;
}

.card{
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 15rem;
}

.movie-img{
    width: 20rem;
    margin-top: 40px;
    margin-left: 40px;
}

.overview{
    position: absolute;
    top: 30%;
    left: 35%;
}

.overview-text{
    width: 70%;
    font-size: 25px;
}

.center{
    margin-top: 20px;
    text-align: center;
    color: red;
}